block footer
    footer.footer.p-4.bg-light
        hr
        span.text-danger
            span.mdi.mdi-burst-mode &nbsp; Ad 
        span.text-info Exchange
        span.mx-4 &COPY; 2018
        span Tickles is a copyright of S &amp; P holdings
   
    