//- embed javascript
//- script(src="/vendor/fetch-polyfill.js")
script(src="/vendor/chartjs/Chart.bundle.min.js")
script(src="/vendor/jquery.3.2.1.js")
script(src="/vendor/popper.min.js")
script(src="/vendor/bootstrap.min.js")
script(src="/vendor/bootstrap-datepicker.js")
script(src="/vendor/bootstrap-select.min.js")
script(src="/vendor/vanilla-router.js")
script(src="/dist/client/util.js")
script(src="/dist/router.js")