extends ./layout
append css
    link(rel="stylesheet", href="/css/styles/publisher/custom.css")
block content
    nav.nav.px-4
        a(href="/").nav-header-title Tickles
        div.nav-menus
            a(href="/client").link Advertiser
            a(href="/publisher").link Publisher
            a(href="#").link Products
            a(href="#").link Blog
            a(href="#").link faq
            a(href= navigationLink).signinToggle.btn.btn-sm.btn-success= navigationText
                span.mdi.mdi-chevron-double-right.ml-1.mr-0