html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Lato', sans-serif;
}

/* body {
    background: rgba(0, 0, 0, 0.4) url('/images/landing_page.jpg') no-repeat fixed center;
    background-size: cover;
} */

._innercontainer {
    background: linear-gradient(rgb(26, 158, 175), rgba(0, 0, 0, 0.747));
    border-radius: 6px;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.4);
}

.ad-explain a {
    color: white;
    text-decoration: unset;
}

a:hover {
    text-decoration: unset;
    color: rgb(111, 142, 163);
}

.mdi-64px {
    font-size: 64px;
}

.bg-custom-info {
    background-color: rgb(213, 225, 230);
}

.card-body {
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.4s;
}

.card-body:hover {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.6);
}

._adslists {
    list-style-type: square;
}

.adverts-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 5px;
}

.adverts-grid-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.advertiser-container {
    background: white;
    overflow: hidden
}

.image-holder {
    height: 160px;
    width: 160px;
    margin-bottom: 8px;
}

.image-holder img {
    height: 100%;
    width: 100%;
    border-radius: 48%;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.4)
}

.trust-area {
    background-color: #87a1ab;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 40px;
    color: white;
}

.trust-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.publishers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4) url(/images/publisher_bg.jpg) no-repeat fixed center;
    background-size: cover;
    min-height: 66vh;
    position: relative;
}

.publisher-container-inner {
    display: grid;
    grid-template-columns: 45% 30%;
    grid-gap: 40px;
    padding-left: 10%;
}

.publisher-container-inner span {
    text-align: center;
    font-style: italic;
}

.publishers-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(213, 225, 230), rgba(213, 225, 230, 0.98), rgba(213, 225, 230, 0.78), rgba(0, 0, 0, 0.0))
}

.pub-image {
    width: 280px;
    height: 280px;
    border-radius: 48%;
    overflow: hidden;
    transition: 2.8s;
    box-shadow: 0px 2px 17px 2px rgba(0, 0, 0, 0.3);
}

.pub-image img {
    height: 100%;
    width: 100%;
    transition: 1.4s;
    cursor: pointer;
}

.pub-image img:hover {
    transform: scale(1.2)
}

.zoomable {
    transition: ease-in-out 1.2s;
    cursor: pointer;
}

.zoomable:hover {
    transform: scale(1.2)
}