/* 
 * Author: Danny Sofftie
 * Advertiser stylesheet
 */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
html,
body {
    margin: 0;
    padding: 0;
}

div {
    font-family: 'Lato', sans-serif;
}

.bg-custom-info {
    background-color: rgb(213, 225, 230);
}

a {
    color: rgb(31, 196, 182);
}

.ad-company-name {
    font-family: 'Amita', cursive;
    font-size: 30px;
}

.left-container {
    position: fixed;
    top: 0;
    right: 0;
}

.-scrollable {
    height: 100%;
    overflow-y: visible;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 15px;
}

.features-grid-internal {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 5px;
    padding: 11px;
    background-color: white;
    border-radius: 3px;
    transition: .6s;
    cursor: pointer;
}

.features-grid-internal:hover {
    background-color: rgb(204, 215, 220);
    box-shadow: 1px 2px 15px 1px rgba(204, 215, 220, 0.3);
}

.advertiser-wrapper-block {
    background: #0000004b url('/images/blank-business-composition-373076.jpg') no-repeat fixed center;
    background-size: cover;
    color: white;
}

.advertiser-wrapper-block-inner {
    height: auto;
    background-color: #5d1b63c7;
}

.dsp-title {
    font-family: 'Monoton', cursive;
}

.white-divider {
    width: 90px;
    height: 5px;
    background-color: white;
    margin: 20px;
}

.client-image-container {
    perspective: 700px;
    width: 65vw;
}

.client-image {
    width: 100%;
    margin-top: -40px;
    transform: rotateX(50deg);
}

.adverts-grid {
    display: grid;
    grid-template-columns: repeat(4, 20% 5%);
    grid-gap: 1px;
}

.adverts-grid-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-holder {
    margin-bottom: 1px;
    height: 70px;
}

.arrow-left::after {
    content: '--- >';
}

.image-holder img {
    height: 100%;
    width: 100%;
}

.zoomable {
    transition: ease-in-out 1.2s;
    cursor: pointer;
}

.zoomable:hover {
    transform: scale(1.2)
}

.signinform {
    position: fixed;
    top: 88px;
    right: 20px;
    width: 320px;
    padding: 20px;
    border-radius: 5px 0px 5px 5px;
    background-color: #0000004b;
}