html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: rgb(25, 201, 204)
}

* {
    font-family: Roboto;
}

.btn {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.client-details-box {
    padding: 9px 16px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    transition: 0.6s;
    z-index: 9
}

.top-navigation {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    /* background-color: slategrey; */
    margin-top: 45px;
}

.nav-options {
    padding: 11px;
    cursor: pointer;
    transition: .6s;
}

.nav-options:hover {
    border-bottom: 1.8px solid rgb(25, 201, 204);
    color: coral;
}

.nav-active {
    border-bottom: 1.2px solid rgba(185, 54, 197, 0.883);
    color: white;
    background-color: rgb(25, 201, 204)
}

.referralAwards {
    position: absolute;
    right: 5px;
}

.hidden {
    display: none;
}

.overview-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 24.4%);
    grid-gap: 10px;
}

.custom-datepicker {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 11px;
    outline: none;
    color: rgba(20, 161, 163, 0.938);
    padding-left: 7px;
}

.custom-datepicker:focus {
    border: 0.5px solid rgb(25, 201, 204);
}

.campaign-tabs {
    box-shadow: 3px -1px 2px -2px rgba(0, 0, 0, 0.4);
    height: 100%;
}

.campaign-tab {
    padding: 9px 0px;
    cursor: pointer;
    border-bottom: rgba(0, 0, 0, 0.2) 0.6px solid;
    padding-left: 10px;
    transition: ease-in-out 0.6s;
}

.campaign-tab:hover {
    border-bottom: 1.2px solid rgba(185, 54, 197, 0.883);
    color: rgb(25, 201, 204);
    padding-left: 20px;
}

.campaign-tab-active {
    border-bottom: 1.2px solid rgb(25, 201, 204);
    background-color: rgba(20, 161, 163, 0.938);
    color: white;
    padding-left: 20px;
}

.camp-child {
    width: 100%;
    padding: 0;
}

.ad-preview-holder {
    height: 110px;
    width: 520px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.ad-preview-holder:hover {
    opacity: .7;
}

.ad-preview-header {
    padding: 0px 3px 4px 3px;
}

.ad-preview-body {
    display: grid;
    grid-template-columns: 20% 70%;
    grid-gap: 5px;
    padding: 2px 3px 2px 3px;
}

.ad-preview-body>* {
    overflow: hidden;
}

.ad-preview-body .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-preview-body img {
    height: 100%;
}

.ad-preview-footer {
    padding-bottom: 10px;
}

.targeting-status {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 3px;
}

.targeting-status .status-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* management section */

.management-section {
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 0;
}

.campaign-headers {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid rgba(20, 161, 163, 0.938);
    padding-bottom: 2px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.3);
}

.campaign-headers,
.single-campaign {
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 13% 10% 10% 10% 8% 15% 18% 16%;
    grid-gap: 5px;
}

.single-campaign {
    margin-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.campaign-headers>* {
    border-right: .8px solid white;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 24px;
    margin: 0 auto;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(20, 161, 163, 0.938);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(20, 161, 163, 0.938);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}