include ../includes/dash-layout
//- campaign stats instructions and UI
.container-fluid.my-3
    .jumbotron
        h3 Campaigns and Ads performance summary. You might want to tune low performing ads.
    .campaign-statistics-header
        div Campaign name
        div Ad name
        div
            span Impressions &nbsp;
            span.mdi.mdi-eye-off
        div 
            span Views &nbsp;
            span.mdi.mdi-eye
        div
            span Clicks &nbsp;
            span.mdi.mdi-eyedropper
        div
            span Doublecliks &nbsp;
            span.mdi.mdi-fingerprint
        div 
        div Options
    div#campaignStatistics

include ../includes/footer