extends ../includes/layout
append css
    link(rel="stylesheet", href="/css/styles/client/custom.css")     
block content
    div.advertiser-wrapper-block
      //- image background
      div.advertiser-wrapper-block-inner.p-5
        h1.text-danger.ad-company-name
          a(href="/")
            span.mdi.mdi-burst-mode &nbsp;Ad 
            span.text-info Exchange
          a(href="/client/signin").link.btn.btn-info.float-right GET STARTED &nbsp;
            span.mdi.mdi-star-half
        div.mt-5.d-flex.justify-content-center.align-items-center.flex-column.text-center
          h4.text-uppercase.dsp-title tickles &nbsp; adexchange &nbsp; dsp <br /> for &nbsp; advertisers
          div.white-divider
          div Connect to Tickles AdExchange SSP, increase your traffic volume <br /> and optimize your campaigns through a single platform
          div.client-image-container
            img(src="/images/client-img.png", alt="").client-image

    //- how it works
    div.jumbotron.text-center 
      h4.dsp-title How &nbsp; it &nbsp; works 
      div.adverts-grid 
        div.adverts-grid-inner.px-5 
          div.image-holder
            h1.mdi.mdi-account-switch.zoomable 
          h5 Registration 
          div.adverts-grid-inner.px-5
        .arrow-left.py-5 
        div.adverts-grid-inner.px-5 
          div.image-holder
            h1.mdi.mdi-verified.zoomable
          h5 Account verification 
          div.adverts-grid-inner.px-5
        .arrow-left.py-5
        div.adverts-grid-inner.px-5
          div.image-holder
            h1.mdi.mdi-pound-box.zoomable
          h5 Set up campaign
          div.adverts-grid-inner.px-5
        .arrow-left.py-5
        div.adverts-grid-inner.px-5
          div.image-holder
            h1.mdi.mdi-traffic-light.zoomable
          h5 Targetted traffic
          div.adverts-grid-inner.px-5
    
    div.jumbotron.bg-dark.text-center
      button.btn.btn-success.dsp-title.text-white get started &nbsp;
        span.mdi.mdi-star-half   

    include ../includes/footer