extends ../includes/layout

block content
    .container
        div(style="width: 420px;margin: auto auto;").mt-5.pt-4
            .sign-up-form.card-body                
                span Sign in to manage your campaigns
                p.text-danger.animated.flash#notifystatus
                form(method="POST", name="signinform").text-left
                    .form-group
                        input(type="text" placeholder="Username or email" name="username" required).form-control
                    .form-group
                        input(type="password" placeholder="Password" name="password" required).form-control
                    .form-group.d-flex.justify-content-center
                        div(class="g-recaptcha")#recaptcha
                    .form-check
                        label.form-check-label
                            input(type="checkbox").form-check-input.custom-checkbox
                            span Save credentials
                    .form-group.d-flex.justify-content-between.align-items-center                    
                        button(type="submit").btn.btn-block.btn-info Sign in &nbsp;
                            span.mdi.mdi-chevron-double-right
                    hr
                    .form-group
                        a(href="/client/signup").link Register?
                        a(href="javascript:void(0)").float-right#recover Reset password