<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Embed code
    body(style="height: auto")
        script(src="https://gist.github.com/DannySofftie/670736b463dcbb0323f65ac71af67cdf.js")